In [1]:
import pandas as pd 
import matplotlib.pyplot as plt
import numpy as np

def get_dataset():
    data = pd.read_csv('Export.csv',sep=',',encoding='cp1252')
    return data 

dataset = get_dataset()
dataset.info()
dataset.head(10)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 838 entries, 0 to 837
Data columns (total 11 columns):
 #   Column                                 Non-Null Count  Dtype
---  ------                                 --------------  -----
 0   entity                                 838 non-null    object
 1   code                                   838 non-null    object
 2   year                                   838 non-null    int64
 3   all_death                              838 non-null    int64
 4   neoplasms                              838 non-null    int64
 5   ratio                                  838 non-null    float64
 6   death_rate                             838 non-null    float64
 7   gdp                                    796 non-null    float64
 8   population                             838 non-null    int64
 9   sales_of_cigarettes_per_adult_per_day  838 non-null    float64
 10  annual_co2_emissions_tonnes            838 non-null    float64
dtypes: float64(5), int64(4), object(2)
memory usage: 72.1+ KB

,entity,code,year,all_death,neoplasms,ratio,death_rate,gdp,population,sales_of_cigarettes_per_adult_per_day,annual_co2_emissions_tonnes
0,Armenia,ARM,1990,22801,4136,0.181396,148.326987,5180.061203,3538164,11.9,6.642549e+06
1,Armenia,ARM,1991,23671,4274,0.180558,150.218450,4616.944854,3505249,9.3,6.440641e+06
2,Armenia,ARM,1992,25719,4588,0.178390,158.443950,2735.786539,3442820,4.9,5.719932e+06
3,Armenia,ARM,1993,26712,4681,0.175240,159.578363,2554.172167,3363111,5.5,2.508265e+06
4,Armenia,ARM,1994,25535,4478,0.175367,150.602187,2757.231810,3283664,5.7,2.683496e+06
5,Armenia,ARM,1995,25025,4487,0.179301,147.814597,3008.233321,3217349,5.6,3.360092e+06
6,Armenia,ARM,1996,25035,4606,0.183982,148.557229,3234.069621,3168213,5.6,2.497344e+06
7,Armenia,ARM,1997,24119,4525,0.187611,142.962063,3378.944431,3133081,5.6,3.246443e+06
8,Armenia,ARM,1998,23884,4565,0.191132,142.234838,3654.052968,3108691,5.7,3.411072e+06
9,Australia,AUS,1990,113589,31401,0.276444,162.282626,31058.259671,16960600,7.6,2.784244e+08

В даному випадку джерело даних все "чисте" та приведено до найзрузнішого аналізу на поточний момент. Усі операції з перетвореннями були виконані в середовщі SQL (відповідні скрипти буде прикріплено).